{% extends "base.html.twig" %}
{% block title %}
    Blog Lista
{% endblock %}

{% block body %}
    <a href={{ path("homepage") }}>Szürt lista</a><br />
    <a href={{ path("blog_new") }}>Blog létrehozása</a><br />
    {% for blog in blogs %}
        <p>
            <a href={{ path("blog_view", {"id":blog.id}) }}>{{ blog.name }}</a><br />
            írás ideje: {{ blog.date|date("Y-m-d H:i") }}<br />
            Látogatások száma:{{ blog.szamlalo }}
        </p>
    {% endfor %}
{% endblock %}